**/.DS_Store
**/.idea
**/.vs
**/.vscode
/out/**
**/bin/Debug
**/bin/Release
obj
build

**/node_modules
**/wwwroot
**/dist
**/logs/**
**/*.log
**/*.dbmdl
**/*.jfm
**/*.user
**/*.pfx

**/.env
**/global.json
**/.nvmrc
